<!DOCTYPE html><html lang=en><head><title>KISS Linux</title><meta charset=utf-8><link href='data:image/gif;base64,R0lGODlhEAAQAPH/AAAAAP8AAP8AN////yH5BAUAAAQALAAAAAAQABAAAAM2SLrc/jA+QBUFM2iqA2bAMHSktwCCWJIYEIyvKLOuJt+wV69ry5cfwu7WCVp2RSPoUpE4n4sEADs=' rel=icon><meta name=viewport content="width=device-width,initial-scuale=1"><meta name=Description content="An independent Linux distribution with a focus on simplicity and the concept of less is more."><style>body{display:table-cell;max-width:999px;max-width:80ch;font:16px monospace,monospace;overflow-y:scroll}ul{position:relative;list-style:none;margin-left:0;padding-left:4ch}ul li:before{content:"*";position:absolute;left:0}h2{font-size:1em;padding:0;margin-bottom:1ch;text-decoration:underline}div code{color:#666;margin-left:4ch;display:block}@media(prefers-color-scheme:dark){body{background:#000;color:#fff}a{color:#6CF}}</style></head>
  <body>
    <nav>
      <a href="/k1ss/">💋</a> 
      
      <a href="/k1ss/guidestones.html">Guidestones</a> 
      
      <a href="/k1ss/install.html">Install</a> 
      
      <a href="/k1ss/wiki.html">Wiki</a> 
      
      <a href="/k1ss/contact.html">Contact</a> 
      
      <a href="https://github.com/kiss-community/">Github</a>
    </nav>
    {{ content }}
  </body>
  <footer>
    <p>---</p>
    <p>Dylan Araps (C) 2019-2021, kiss-community, 2021</p>
    <p>Linux(R) is the registered trademark of Linus Torvalds in the U.S. and other countries.</p>
  </footer>
</html>
